/* Outils */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
    font-family: 'Raleway', sans-serif;
    margin: 0;     
    padding: 0;
    /* bleu #0065FC */
    /* gris #F2F2F2 */
    /* bleu clair #DEEBFF */
}
.bold{
    font-weight: bold;
}
.lightgray{
    color: rgb(167, 167, 167);
}
/* Header */
.header{
    width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.header__div__img{
    width: 150px;
    height: 60px;
    margin-top: 15px;
}
span .header__nav__li{
    display: inline-block;
    width: 160px;
    text-align: center;
    padding: 15px;
    padding-top: 30px;
}
span .header__nav__li:hover{
    border-top: #0065FC solid 3px;
    color: #0065FC;
    padding-top: 27px;
}
span .header__nav__li--sign{
    display: inline-block;
    width: 160px;
    text-align: center;
    color: #0065FC;
    padding: 15px;
    padding-top: 30px;
}
/* Body */
.main{
    width: 1440px;
    margin: auto;
}
.section_h1, .section__p{
    margin-top: 10px;
    margin-bottom: 20px;
}
/* SEARCH INPUT */
.section__div{
    display: flex;
}
.localInput--div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    width: 50px;
    height: 50px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.divSearch{
    display: inline-block;
    width: 130px;
    color: #fff;
    background-color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
}
.divSearch p{
    cursor: pointer;
}
.searchInput{
    width: 210px;
    padding-left: 15px;
    font-size: 0.95em;
    font-weight: bold;
}
.searchIcon{
    display: none;
}
/* FAMILLE */
.section__div2{
    margin-top: 35px;
    margin-bottom: 25px;
    display: flex;
}
.section__div2__p{
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-right: 25px;
}
.section__div2__div{
    display: flex;
}
.section__div2__div__div__span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #DEEBFF;
    border: solid #DEEBFF ;
    cursor: pointer;
}
.blue{
    color: #0065FC;
    font-size: 1.2em;
    cursor: pointer;
}
.section__div2__div__div__p{
    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold;
    cursor: pointer;
}
.section__div2__div__div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: solid #F2F2F2 2px;
    border-top: solid #F2F2F2 2px;
    border-bottom: solid #F2F2F2 2px;
    border-radius: 50px;
    margin-right: 20px;
    cursor: pointer;
}
.section__div2__div__div:hover{
    color: #fff;
    background-color: #0065FC;
    transition: 0.7s;
}
/* Logements */
.section__div3{
    display: flex;
    margin-top: 35px;
}
.section__div3__div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: #F2F2F2 solid 2px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #0065FC;
}
.section__div3__p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
/* Hébergements */
.section2{
    margin-top: 35px;
}
.section2__article{
    background-color: #e6e6e6;
    border-radius: 35px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.20);
    position: relative;
}
.section2__article__h2{
    text-align: center;
    padding-top: 30px;
}
.card{
    width: 350px;
    height: 350px;
    border-radius: 25px;
    margin: 35px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.35);
      /* Retourner carte */
    transform-style: preserve-3d;
    transition: all 0.5s ease;  
    position: relative;
}
.card:hover{
    transform: rotatey(180deg);
}
.card__img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
    transform: rotatey(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
}
.card__figcaption{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    border-radius: 25px;
    background-color: #0065FC;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.section2__article__div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/* Aside */
.aside{
    background-color: #e6e6e6;
    border-radius: 25px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.35);
}
.aside__div{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    margin-top: 45px;
}
.aside__div__h2{
    margin-top: 25px;
}
.aside__div__div{
    display: flex;
    align-items: center;
    justify-self: center;
    margin-left: 50px;
    font-size: 1.5em;
    margin-top: 25px;
}
.aside__div2{
    display: flex;
    justify-content: space-around;
    padding: 50px 0px 50px 0px;
}
.aside__div2__asideCard{
    display: flex;
    width: 430px;
    height: 200px;
    border-radius: 25px;
    object-fit: cover;
    background-color: #fff;
    box-shadow: 0 5px 20px rgba(0,0,0,0.35);
    cursor: pointer;
}
.aside__div2__asideCard__img{
    width: 150px;
    height: 95%;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 5px;
}
.aside__div2__asideCard__figcaption{
    font-size: 0.8em;
    margin: auto;
}
.asideCard__figcaption__p{
    margin: 15px 0px 15px 0px;
}
