/* Outils */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
    font-family: 'Raleway', sans-serif;
    margin: 0;     
    padding: 0;
    /* bleu #0065FC */
    /* gris #F2F2F2 */
}
.bold{
    font-weight: bold;
}
.lightgray{
    color: lightgray;
}
/* Header */
.header{
    width: 1500px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.header__div__img{
    width: 170px;
    height: 80px;
}
span .header__nav__li{
    display: inline-block;
    width: 160px;
    text-align: center;
    padding: 15px;
    padding-top: 30px;
}
span .header__nav__li:hover{
    border-top: #0065FC solid 3px;
    color: #0065FC;
    padding-top: 27px;
}
span .header__nav__li--sign{
    display: inline-block;
    width: 160px;
    text-align: center;
    color: #0065FC;
    padding: 15px;
    padding-top: 30px;
}
/* Body */
.main{
    width: 1500px;
    margin: auto;
}
.section_h1, .section__p{
    margin-top: 10px;
    margin-bottom: 20px;
}
/* SEARCH INPUT */
.section__div{
    display: flex;
}
.localInput--div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    width: 50px;
    height: 50px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.divSearch{
    display: inline-block;
    width: 130px;
    color: #fff;
    background-color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: bold;
    font-size: 1.1em;
}
.searchInput{
    width: 210px;
    padding-left: 15px;
    font-size: 0.95em;
    font-weight: bold;
}
.searchIcon{
    display: none;
}
/* Footer */


